.far, .fas {
    font-size: x-large;
    cursor: pointer;
}
.text-info:hover {
    color: #2469a0!important;
}
.text-primary:hover {
    color: #6bb2ec!important;
}
.text-danger:hover {
    color: #a50f0b!important;
}
input[type=checkbox] {
    width: 1.6rem;
    &.form-control {
        box-shadow: none!important;
    }
}